<?xml version="1.0"?>
<config>
    <modules>
        <Mokadev_Popin>
            <version>0.1.0</version>
        </Mokadev_Popin>
    </modules>
    <global>
        <models>
            <mokadev_popin>
                <class>Mokadev_Popin_Model</class>
            </mokadev_popin>
        </models>
        <blocks>
            <mokadev_popin>
                <class>Mokadev_Popin_Block</class>
            </mokadev_popin>
        </blocks>
        <helpers>
            <mokadev_popin>
                <class>Mokadev_Popin_Helper</class>
            </mokadev_popin>
        </helpers>
    </global>
    <frontend>
        <translate>
            <modules>
                <Mokadev_Popin>
                    <files>
                        <default>Mokadev_Popin.csv</default>
                    </files>
                </Mokadev_Popin>
            </modules>
        </translate>
        <layout>
            <updates>
                <mokadev_popin>
                    <file>mokadev/popin.xml</file>
                </mokadev_popin>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Mokadev_Popin>
                    <files>
                        <default>Mokadev_Popin.csv</default>
                    </files>
                </Mokadev_Popin>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <mokadev_popin>
            <general>
                <cookie>86000</cookie>
            </general>
        </mokadev_popin>
    </default>
</config>